//max widths
//iPhone 13 Pro Max - 428px
//iPhone 15 Pro Max - 430px
//Galaxy S21        - 360px
//Desktop           - 1024px

.section--container {
    margin: 0 0 4em 0;
    padding: 1em 1em 1em 1em
}

.section--container:not(:nth-child(2)) {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
    padding: 2em 1em 3em 1em;
    margin: 0 0 2em 0;
}

.section--media.columns {
    margin: -3em 0 8em 0;
    //padding: 3em 0 .15em 0;
    background-color: #fff;
    align-items: baseline;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
}

.section--media.columns::before {
    content: "";
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: -1em 0 5em 0;
}

.section--media.columns:not(:last-child) {
    margin: -3em 0 2em 0;
}

.section--content {
    white-space: pre-line;
}

.media--item.column {
    padding: 0 1em 0 1em;
}

.media--item {
    margin: 0 0 3em 0;
}

.section--header {
    margin: 0 0 1em 0;
}

.content--container {
    padding: 0 1em;
    margin: 0 0 3em 0;
    border-radius: 2px;
}

.callout {
    font-size: 2em;
    font-weight: bold;
}

//iPad portrait
@media screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation: portrait) {
    .section--container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }   

    .section--header {
        width: 50%;
        margin: -.25em 0 0 0;
    }

    .section--content {
        width: 50%;
    }
}

//iPad landscape
@media screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation: landscape) {
    .section--container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .section--header {
        width: 40%;
        margin: -.25em 0 0 0;
    }

    .section--content {
        width: 60%;
    }
}

@media screen and (min-device-width: 1024px) {
    .section--container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        margin: 1em 1em 4em -1em;
        padding: -1em 1em 1em 1em
    }
    
    .section--container:not(:nth-child(2)) {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
        padding: 2em 2em 3em 2em;
        margin: 0 0 2em 0;
    }

    .section--container:nth-child(2) > .section--header {
        margin: -.45em 1.3em 0 0;
    }
    .section--header {
        width: 40%;
        margin: -.25em 1em 0 0;
    }

    .section--content {
        width: 60%;
    }

    .media--item > .image {
        margin: 0 0 .5em 0;
    }

    .media--item > .image:hover {
        cursor: pointer;
    }

    .callout {
        margin: 1em 1.25em 0 0;
    }
}


// .content--container:not(:nth-child(2)) {
//     //border-top: 1px solid rgba(150, 150, 150, .25);
//     background-color: #fff;
//     box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
//     padding: 2em 1em 2em 1em;
// }

// .content--container:nth-child(2) > .section--container > .section--header {
//     margin: 0 0 2em 0;  
// }

// .content--container:not(:nth-child(2)) > .section--container > .section--header {
//     margin: 0 0 .75em 0;  
// }

// .content--container:nth-child(2) > .section--container > .section--header > .header--text {
//     font-size: 1.5em;
//     font-weight: bold;    
// }

// .content--container:not(:nth-child(2)) > .section--container > .section--header > .header--text {
//     font-size: 1.25em;
//     font-weight: bold;   
// }

// .section--content {
//     white-space: pre-line;
// }

// .section--images {
//     display: block;
// }
// .section--images:nth-child(2) {
//     margin-top: 4em;
// }

// .section--image {
//     margin-bottom: 2.5em;
// }

// .section--media {
//     margin: 4em 0 0 0;
// }

// .media--item {
//     margin: 0 0 4em 0;
// }

// .has-media {
//     margin-bottom: 5em;
// }

// /* iPhone Portrait */
// @media screen and (max-device-width: 480px) and (orientation:portrait) {

// } 

// /* iPhone Landscape */
// @media screen and (max-device-width: 480px) and (orientation:landscape) {

// }

// /* iPad Portrait */
// @media screen and (min-device-width: 481px) and (orientation:portrait) {
//     .content--container:not(:nth-child(2)) {
//         //border-top: 1px solid rgba(150, 150, 150, .25);
//         background-color: #fff;
//         box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
//         padding: 5em 2em 2em 2em;
//     }

//     .section--media.columns {
//         align-items: baseline;
//         margin-top: 2em;
//     }
// }

// /* iPad Landscape */
// @media screen and (min-device-width: 481px) and (orientation:landscape) {

// } 

// @media screen and (max-device-width: 768px) and (orientation: portrait) {
    
// }

// @media only screen and (min-device-width: 768px) and (orientation: portrait) {
//     .section--container {
//         display: flex;
//         flex-direction: row;
//         align-items: flex-start;
//         width: 100%;
//     }

//     .content--container {
//         padding: 5em 2em 0 2em;
//     }

//     .content--container:not(:nth-child(2)) {
//         //border-top: 1px solid rgba(150, 150, 150, .25);
//         background-color: #fff;
//         box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
//     }

//     .content--container:nth-child(2) > .section--container > .section--header {
//         margin-top: -1em;
//     }
//     .content--container:nth-child(2) > .section--container > .section--header > .header--text {
//         font-size: 2em;
//         font-weight: bold;
        
//     }
  
//     .section--header:not(:first-child) {
//         width: 100%;
//     }

//    .section--header {
//         width: 40%;
//     }

//     .section--content {
//         width: 60%;
//     }

//     .header--text {
//         font-size: 1.5em;
//     }
// }

// @media screen and (min-device-width: 1200px) {
//     .content--container {
//         //padding: 0 1em;
//         margin: 0 0 1em 0;
//         border-radius: 2px;
//         padding: 5em 5em;
//     }
//     .section--container {
//         display: flex;
//         flex-direction: row;
//         align-items: flex-start;
//         width: 100%;
//     }


//     .content--container:not(:nth-child(2)) {
//         //border-top: 1px solid rgba(150, 150, 150, .25);
//         background-color: #fff;
//         box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
//         margin: 0 0 1em 0;
//         border-radius: 2px;
//         padding: 5em 5em;
        
//     }

//     .content--container:nth-child(2) > .section--container > .section--header {
//         margin-top: -1em;
//     }
//     .content--container:nth-child(2) > .section--container > .section--header > .header--text {
//         font-size: 2.25em;
//         font-weight: bold;
        
//     }
  
//     .section--header:not(:first-child) {
//         width: 100%;
//     }

//    .section--header {
//         width: 50%;
//     }

//     .section--content {
//         width: 50%;
//     }

//     .section--media.columns {
//         align-items: baseline;
//         margin-top: 8em;
//     }

//     .header--text {
//         font-size: 1.5em;
//     }
// }
// // .text {
// //     white-space: pre-wrap;    
// // }

// // .column--content {
// //     margin-bottom: -4em;
// // }

// // .column--content:last-child {
// //     margin-bottom: 1em;
// // }

// // .container--hero {
// //     padding-left: 10em;
// // }
// // .container--section {
// //     padding: 1em 1.5em;
// // }

// // .container--section:first-child {
// //     margin: .5em 0;
// // }

// // .icon--link {
// //     display: flex;
// //     align-items: center;
// // }

// // .lh-mobile {
// //     line-height: 1.75;
// // }

// // p {
// //     white-space: pre-line;
// //     color: rgb(125, 125, 125);
// // }


// // @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
// //     .column--content {
// //         margin-bottom: -1em;
// //     }

// //     .hero-body.container--hero {
// //         padding: 1rem 3.5rem;
// //     }

// //     .container--section {
// //         padding-bottom: 3em;
// //     }
// // }
// // @media only screen and (min-device-width: 768px) and (orientation: portrait) {
// //     .column--content {
// //         margin-bottom: -1em;
// //     }

// //     .hero-body.container--hero {
// //         padding: 1rem 1.5rem;
// //     }

// //     .container--section {
// //         padding-bottom: 3em;
// //     }
// // }

// // @media screen and (min-width: 769px) {
// //     .hero-body.container--hero {
// //         padding: 3rem 1.5rem;
// //     }
// // }

// // @media only screen and (min-device-width: 768px) and (orientation: landscape) {
// //     .column--content {
// //         margin-bottom: -1em;
// //     }

// //     .container--hero {
// //         margin-left: .35em;
// //     }

// //     .container--section {
// //         padding-bottom: 3em;
// //     }
// // }

// // @media screen and (min-device-width: 1200px) {
// //     .hero-body.container--hero {
// //         padding: 3rem 3.5rem;
// //     }

// //     .container--section {
// //         padding-bottom:3em;
// //     }

// // }