.box {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

.header {
    margin-bottom:1em;
    font-weight: 100;
    line-height: 1.25;
}

.text {
    white-space: pre-line;
    color: $grey;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 0;
}

.projects.list {
    flex-direction: column;
}

.projects.cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    display: inline-flex;
    height: 84px;
    border-top: 3px dotted rgb(235, 235, 235);
    align-items: center;
    font-size: 1.25em;

}

.project--icon {
    width: 64px;
    height: 64px;
    margin-right: 24px;
    opacity: .35;
    transition: opacity .5s;
}

.project-item--list {
    border-top: 3px dotted rgb(235, 235, 235);
}

.projects-cards {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
}

.header-tag {
    color: $grey-light;
    margin-bottom: 1.5em;
}


//iPad common styles
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .section {
        margin-bottom: 60px;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project--icon {
        width: 128px;
        height: 128px;
        margin: 0 0 72px 0;
        opacity: .25;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//Portrait mode iPad
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container--section {
        padding-bottom:3em;
    }

    .header {
        margin-bottom:.5em;
    }

    .is-size-1-widescreen.header {
        font-size: 6em!important;
        font-weight: 100;
    }

    .projects {
        margin: 4em 0 0 0;
    }

    .project {
        display: flex;
        flex-direction: column;
        border-top: none;
        width: 30%;
        height: 250px;
        margin-bottom: 2em;
        //align-items: center;
        //justify-content: center;
        text-align: center;
        padding: 2em 0 2em 0;
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10, 10, .1);
    }

    .project--icon {
        width: 96px;
        height: 96px;
        margin: 0 0 1em 0;
        opacity: .5;
    }
}

//Landscape mode iPad
@media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
    .is-size-1-widescreen.header {
        font-size: 6em!important;
        font-weight: 100;
    }

    .header {
        margin-bottom: .5em;
    }

    .projects {
        margin: 4em 0 0 0;
    }

    .project {
        display: flex;
        flex-direction: column;
        border-top: none;
        width: 30%;
        height: 250px;
        margin-bottom: 2em;
        //align-items: center;
        //justify-content: center;
        text-align: center;
        padding: 2em 0 2em 0;
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10, 10, .1);
    }

    .project--icon {
        width: 96px;
        height: 96px;
        margin: 0 0 1em 0;
        opacity: .5;
    }
}

@media screen and (min-device-width: 1200px) {
    .container--section {
        padding-bottom:3em;
    }

    .header {
        margin-bottom:.5em;
    }

    .is-size-1-widescreen.header {
        font-size: 8em!important;
        line-height: 1.25;
        font-weight: 100;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 4em 0 0 0;
    }

    .project {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        border-top: none;
        align-items: center;        
        text-align: center;
        width: 32%;
        height: 200px;
        margin-bottom: 1em;
        background-color: #fff;
        border-radius: .25rem;
        border: 2px solid transparent; /* <- here */
        transition: all .25s;
        color: #c5c5c5;
    }

    .project.spacer {
        background-color: transparent;
    }

    .project.spacer:hover {
        box-shadow: none;
        cursor: auto;
    }
    

    .project:hover .project--icon {
        opacity: .7;
    }

    .project:hover {
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
        cursor: pointer;
    }
    .project--icon {
        width: 128px;
        height: 128px;
        margin-right: 0;
        opacity: .35;
    }
}