.header {
    margin-bottom:1em;
    font-weight: 100;
    line-height: 1.25;
}

.text {
    white-space: pre-line;
    color: $grey;
}

.project {
    padding: 1em 1em;
    border-top: 3px dotted rgb(235, 235, 235);
    font-size: 1.5em;
    color: rgb(150,150,150)
}

.project:hover {
    cursor: pointer;
    color: rgb(25, 25, 25)
}

.header-tag {
    color: $grey-light;
    margin-bottom: 1.5em;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container--section {
        padding-bottom:3em;
    }

    .header {
        margin-bottom:.5em;
    }

    .is-size-1-widescreen.header {
        font-size: 6em!important;
        font-weight: 100;
    }
}

@media only screen and (min-device-width: 768px) and (orientation: landscape) {
    .is-size-1-widescreen.header {
        font-size: 6em!important;
        font-weight: 100;
    }

    .header {
        margin-bottom: .5em;
    }
}

@media screen and (min-device-width: 1200px) {
    .container--section {
        padding-bottom:3em;
    }

    .header {
        margin-bottom:.5em;
    }

    .is-size-1-widescreen.header {
        font-size: 8em!important;
        line-height: 1.25;
        font-weight: 100;
    }
}