.header {
    margin-bottom:2em;
}


.project {
    padding: 1em 1em;
    border-top: 3px dotted rgb(235, 235, 235);
    font-size: 1.5em;
}

.project:hover {
    cursor: pointer;
}

@media screen and (min-device-width: 1200px) {
    .container--section {
        padding-bottom:3em;
    }

    .header {
        margin-bottom:.5em;
    }

    .is-size-1-widescreen.header {
        font-size: 7em!important;
        font-weight: 900;
    }

}